{% extends "base.html" %}
{% load static %}
{% block content %}


      <!-- Content
  ============================================= -->
      <div id="content" role="main">
        <!-- Intro
    ============================================= -->
        <section id="home">
          <div class="hero-wrap">
            <div class="hero-mask opacity-8 bg-dark"></div>
            <div
              class="hero-bg parallax"
              style="
                background-image: url('{% static 'images/intro-bg.jpg' %}');
              "
            ></div>
            <div class="hero-content section d-flex min-vh-100">
              <div class="container my-auto">
                <div class="row">
                  <div class="col-12 text-center">
                    <div class="typed-strings">
                      <p
                        dir="rtl"
                        style="text-align: justify; text-align-last: right"
                      >
                        محمد اسکندرلو هستم
                      </p>
                      <p
                        dir="rtl"
                        style="text-align: justify; text-align-last: right"
                      >
                        من یک برنامه نویس آزاد هستم
                      </p>
                      <p
                        dir="rtl"
                        style="text-align: justify; text-align-last: right"
                      >
                        میتونم کدنویسی بک اند انجام بدم
                      </p>
                      <p
                        dir="rtl"
                        style="text-align: justify; text-align-last: right"
                      >
                        میتون از مدل های زبانی بزرگ هوش مصنوعی اسفتاده کنم
                      </p>
                    </div>
                    <p class="text-7 fw-500 text-white mb-2 mb-md-3">سلام</p>
                    <h2 class="text-16 fw-600 text-white mb-2 mb-md-3">
                      <span class="typed"></span>
                    </h2>
                    <p class="text-5 text-light mb-4">موقعیت: تهران</p>
                    <a
                      href="{% url 'my_cv:contact' %}"
                      class="btn btn-outline-primary rounded-pill shadow-none mt-2"
                      >تماس سریع با من</a
                    >
                  </div>
                </div>
              </div>
              <a
                href="#about"
                class="scroll-down-arrow text-white smooth-scroll"
                ><span class="animated"><i class="fa fa-chevron-down"></i></span
              ></a>
            </div>
          </div>
        </section>
        <!-- Intro end -->

        <!-- About
    ============================================= -->
        <section id="about" class="section">
          <div class="container px-lg-5">
            <!-- Heading -->
            <div class="position-relative d-flex text-center mb-5">
              <h2
                class="text-24 text-light opacity-4 text-uppercase fw-600 w-100 mb-0"
              >
                درباره من
              </h2>
              <p
                class="text-9 text-dark fw-600 position-absolute w-100 align-self-center lh-base mb-0"
              >
                بهتر منو بشناس<span
                  class="heading-separator-line border-bottom border-3 border-primary d-block mx-auto"
                ></span>
              </p>
            </div>
            <!-- Heading end-->

            <div
              class="row gy-5"
              dir="rtl"
              style="text-align: justify; text-align-last: right"
            >
              <div
                class="col-lg-7 col-xl-8 text-center text-lg-start"
                dir="rtl"
                style="text-align: justify; text-align-last: right"
              >
                <h2
                  class="text-7 fw-600 mb-3"
                  dir="rtl"
                  style="text-align: justify; text-align-last: right"
                >
                  من <span class="text-primary">محمد اسکندرلو</span> هستم؛ یک
                  برنامه نویس بک اند و هوش مصنوعی
                </h2>
                <p
                  dir="rtl"
                  style="text-align: justify; text-align-last: right"
                >
                  من یک برنامه‌نویس بک‌اند با تمرکز بر جنگو هستم که به تحلیل
                  داده با ابزارهایی مثل اکسل پیشرفته و Power BI تسلط دارم.
                  همچنین توانایی پیاده‌سازی راهکارهای هوشمندسازی با استفاده از
                  LangChain و Hugging Face را دارم و همیشه به دنبال یادگیری و حل
                  مسئله‌های خلاقانه‌ام.
                </p>
                <p
                  dir="rtl"
                  style="text-align: justify; text-align-last: right"
                >
                  می‌توانم سامانه‌های بک‌اند را با استفاده از Django طراحی و
                  پیاده‌سازی کنم، داده‌ها را تحلیل کرده و داشبوردهای مدیریتی
                  حرفه‌ای با Excel پیشرفته و Power BI ایجاد کنم. همچنین در زمینه
                  هوشمندسازی فرآیندها و ساخت ابزارهای مبتنی بر هوش مصنوعی با
                  استفاده از LangChain و مدل‌های Hugging Face توانایی دارم.
                  ترکیب این مهارت‌ها به من این امکان را می‌دهد تا راهکارهایی
                  یکپارچه، کارآمد و نوآورانه برای نیازهای نرم‌افزاری و داده‌محور
                  ارائه دهم.
                </p>
              </div>
              <div class="col-lg-5 col-xl-4">
                <div
                  class="ps-lg-4"
                  dir="rtl"
                  style="text-align: justify; text-align-last: right"
                >
                  <ul class="list-style-2">
                    <li class="">
                      <span class="fw-600 me-2">نام : </span>محمد اسکندرلو
                    </li>
                    <li class="">
                      <span class="fw-600 me-2">ایمیل: </span
                      ><a href="mailto:chat@simone.com"
                        >Mohammad.eska34@gmail.com</a
                      >
                    </li>
                    <li class=""><span class="fw-600 me-2">سن : </span>۲۸</li>
                    <li class="border-0">
                      <span class="fw-600 me-2">ساکن : </span>تهران
                    </li>
                  </ul>
                  <a
                    href="https://jobvision.ir/cv/95169416-102542"
                    class="btn btn-primary rounded-pill"
                    >دانلود رزومه</a
                  >
                </div>
              </div>
            </div>
            <div class="brands-grid separator-border mt-5">
              <div class="row">
                <div class="col-6 col-md-3">
                  <div class="featured-box text-center">
                    <h4 class="text-12 text-muted mb-0">
                      <span class="counter" data-from="0" data-to="2">2</span>+
                    </h4>
                    <p class="mb-0">سال تجربه</p>
                  </div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="featured-box text-center">
                    <h4 class="text-12 text-muted mb-0">
                      <span class="counter" data-from="0" data-to="1">1</span>+
                    </h4>
                    <p class="mb-0">مشتری راضی</p>
                  </div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="featured-box text-center">
                    <h4 class="text-12 text-muted mb-0">
                      <span class="counter" data-from="0" data-to="1">1</span>+
                    </h4>
                    <p class="mb-0">پروژه انجام شده</p>
                  </div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="featured-box text-center">
                    <h4 class="text-12 text-muted mb-0">
                      <span class="counter" data-from="0" data-to="0">0</span>
                    </h4>
                    <p class="mb-0">جوایز دریافت شده</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- About end -->

        <!-- Services
    ============================================= -->
        <section id="services" class="section bg-light">
          <div class="container px-lg-5">
            <!-- Heading -->
            <div class="position-relative d-flex text-center mb-5">
              <h2
                class="text-24 text-light opacity-4 text-uppercase fw-600 w-100 mb-0"
              >
                خدمات
              </h2>
              <p
                class="text-9 text-dark fw-600 position-absolute w-100 align-self-center lh-base mb-0"
              >
                چه کارهایی میتونم انجام بدم؟<span
                  class="heading-separator-line border-bottom border-3 border-primary d-block mx-auto"
                ></span>
              </p>
            </div>
            <!-- Heading end-->

            <div
              class="row"
              dir="rtl"
              style="text-align: justify; text-align-last: right"
            >
              <div class="col-lg-11 mx-auto">
                <div class="row">
                  <div class="col-md-6">
                    <div class="featured-box style-3 mb-5">
                      <div
                        class="featured-box-icon text-primary bg-white shadow-sm rounded"
                      >
                        <i class="fas fa-palette"></i>
                      </div>
                      <h3>طراحی سایت</h3>
                      <p class="mb-0">
                        طراحی و راه اندازی سایت بر اساس تمپلیت های آماده
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="featured-box style-3 mb-5">
                      <div
                        class="featured-box-icon text-primary bg-white shadow-sm rounded"
                      >
                        <i class="fas fa-desktop"></i>
                      </div>
                      <h3>طراحی بک اند</h3>
                      <p class="mb-0">
                        طراحی و آماده سازی بک اند سمت سرور سایت جهت اجرا شدن
                        بدون مشکل سایت و اپلیکیشن ها
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="featured-box style-3 mb-5">
                      <div
                        class="featured-box-icon text-primary bg-white shadow-sm rounded"
                      >
                        <i class="fas fa-pencil-ruler"></i>
                      </div>
                      <h3>پردازش اطلاعات</h3>
                      <p class="mb-0">
                        بررسی و پردازش اطلاعات کاربران و مراجعین به سایت و
                        اپلیکیشن جهت بهره برداری بخش های مختلف
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="featured-box style-3 mb-5">
                      <div
                        class="featured-box-icon text-primary bg-white shadow-sm rounded"
                      >
                        <i class="fas fa-paint-brush"></i>
                      </div>
                      <h3>تجریه و تحلیل و طراحی داشبورد</h3>
                      <p class="mb-0">
                        طراحی داشبورد مدریتی جهت ارائه گزارش به سلسله مراتب
                        بالاتر
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="featured-box style-3 mb-5 mb-md-0">
                      <div
                        class="featured-box-icon text-primary bg-white shadow-sm rounded"
                      >
                        <i class="fas fa-chart-area"></i>
                      </div>
                      <h3>هوش مصنوعی</h3>
                      <p class="mb-0">
                        امکان اتصال مدل های زبانی بزرگ و ابزارهای مختلف جهت
                        هوشمندسازی کارها و کاهش خطا
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="featured-box style-3 mb-0">
                      <div
                        class="featured-box-icon text-primary bg-white shadow-sm rounded"
                      >
                        <i class="fas fa-bullhorn"></i>
                      </div>
                      <h3>پیشبینی اعلان</h3>
                      <p class="mb-0">
                        امکان پیشبینی روندها از طریق هوش مصنوعی به صورت لحظه ای
                        و اعلان پیش از وقوع
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Services end -->

                <!-- Resume
    ============================================= -->
        <section id="resume" class="section">
          <div class="container px-lg-5">
            <!-- Heading -->
            <div class="position-relative d-flex text-center mb-5">
              <p
                class="text-9 text-dark fw-600 position-absolute w-100 align-self-center lh-base mb-0"
              >
                پروژه های انجام شده<span
                  class="heading-separator-line border-bottom border-3 border-primary d-block mx-auto"
                ></span>
              </p>
            </div>
            <!-- Heading end-->

            <div
              class="row gx-5"
              dir="rtl"
              style="text-align: justify; text-align-last: right"
            >
              <!-- My Education -->
              <div class="col-md-6">
                <h2 class="text-6 fw-600 mb-4">طراحی رزومه شخصی آنلاین</h2>
                <div class="bg-white border rounded p-4 mb-4">
                  <p class="badge bg-primary text-2 fw-400">1404</p>
                  <p class="text-danger">HTML , Django</p>
                  <p class="mb-0">تسک شماره 5 سایت مکتبخونه</p>
                  <div class="text-center mt-5">
                    <a
                      href="https://github.com/Meska75/task5_cv"
                      class="btn btn-outline-secondary rounded-pill shadow-none"
                      >گیتهاب پروژه
                      <span class="ms-1"><i class="fas fa-desktop"></i></span
                    ></a>
                  </div>
                      </div>
              </div>
            </div>

        </section>
        <!-- Resume end -->

        <!-- Resume
    ============================================= -->
        <section id="resume" class="section">
          <div class="container px-lg-5">
            <!-- Heading -->
            <div class="position-relative d-flex text-center mb-5">
              <h2
                class="text-24 text-light opacity-4 text-uppercase fw-600 w-100 mb-0"
              >
                چکیده سوابق
              </h2>
              <p
                class="text-9 text-dark fw-600 position-absolute w-100 align-self-center lh-base mb-0"
              >
                سوابق کاری و تحصیلی<span
                  class="heading-separator-line border-bottom border-3 border-primary d-block mx-auto"
                ></span>
              </p>
            </div>
            <!-- Heading end-->

            <div
              class="row gx-5"
              dir="rtl"
              style="text-align: justify; text-align-last: right"
            >
              <!-- My Education -->
              <div class="col-md-6">
                <h2 class="text-6 fw-600 mb-4">سوابق تحصیلی</h2>
                <div class="bg-white border rounded p-4 mb-4">
                  <p class="badge bg-primary text-2 fw-400">1394 - 1398</p>
                  <h3 class="text-5">علوم سیاسی</h3>
                  <p class="mb-0">دانشگاه آزاد اسلامی واحد تهران مرکز</p>
                </div>
              </div>

              <!-- My Experience -->
              <div class="col-md-6">
                <h2 class="text-6 fw-600 mb-4">تجارب کاری</h2>
                <div class="bg-white border rounded p-4 mb-4">
                  <p class="badge bg-primary text-2 fw-400">1397 - 1398</p>
                  <h3 class="text-5">مسئول دفتر</h3>
                  <p class="text-danger">انجمن علوم سیاسی ایران</p>
                  <p class="mb-0">
                    انجام امور دفتری، هماهنگی جلسات، نشست ها و همایش ها، پیگیری
                    امور دفتری و فعالیت های اداری بیرون دفتر
                  </p>
                </div>
                <div class="bg-white border rounded p-4 mb-4">
                  <p class="badge bg-primary text-2 fw-400">1398 - 1399</p>
                  <h3 class="text-5">
                    دستیار داخلی حوزه افغانستان بخش بین المللی
                  </h3>
                  <p class="text-danger">دفتر خبری</p>
                  <p class="mb-0">
                    بررسی امور به روز و لحظه ای اخبار و ارجاع به بخش های مربوطه،
                    بررسی و رده بندی دستورات و الزامات ریاست و ارجاع به هر بخش
                  </p>
                </div>
                <div class="bg-white border rounded p-4 mb-4">
                  <p class="badge bg-primary text-2 fw-400">1399 - 1401</p>
                  <h3 class="text-5">مسئول دبیرخانه</h3>
                  <p class="text-danger">دادسرای نظامی غرب تهران</p>
                  <p class="mb-0">
                    مسئولیت کامل دبیرخانه، دریافت و ارسال پرونده ها و نامه ها،
                    ثبت و رده بندی اسناد ورودی و خروجی، تهیه گزارشات و ارجاع به
                    ریاست یا معاونین دادسرا
                  </p>
                </div>

                <div class="bg-white border rounded p-4 mb-4">
                  <p class="badge bg-primary text-2 fw-400">1401 - 1403</p>
                  <h3 class="text-5">مسئول انتشارات و بازرگانی</h3>
                  <p class="text-danger">پژوهشکده ابرار معاصر تهران</p>
                  <p class="mb-0">
                    مدریت مقدار و کیفیت محصولات چاپی، ایجاد ارتباط با چاپخانه ها
                    و ویراستاران، تدوین، برسی، انعقاد و چانه زنی قراردادهای
                    موسسه، نظارت بر تراکنش های مالی و ارائه گزارش های ماهانه و
                    سالانه، هدایت برگزاری نمایشگاه های مختلف بین المللی و
                    دانشگاهی
                  </p>
                </div>
              </div>
            </div>

            <!-- My Skills -->
            <section id="Skills" class="section"></section>
            <h2 class="text-6 fw-600 mt-4 mb-4">توانایی ها</h2>
            <div class="row gx-5">
              <div class="col-md-6">
                <p class="text-dark fw-500 text-start mb-2">
                  Expert Excel <span class="float-end">80%</span>
                </p>
                <div class="progress progress-sm mb-4">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 80%"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="text-dark fw-500 text-start mb-2">
                  Django<span class="float-end">20%</span>
                </p>
                <div class="progress progress-sm mb-4">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 20%"
                    aria-valuenow="20"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="text-dark fw-500 text-start mb-2">
                  ICDL <span class="float-end">90%</span>
                </p>
                <div class="progress progress-sm mb-4">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 90%"
                    aria-valuenow="90"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <div class="col-md-6">
                <p class="text-dark fw-500 text-start mb-2">
                  POWER BI <span class="float-end">40%</span>
                </p>
                <div class="progress progress-sm mb-4">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 40%"
                    aria-valuenow="40"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="text-dark fw-500 text-start mb-2">
                  Python <span class="float-end">40%</span>
                </p>
                <div class="progress progress-sm mb-4">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 40%"
                    aria-valuenow="40"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="text-dark fw-500 text-start mb-2">
                  Arduino <span class="float-end">50%</span>
                </p>
                <div class="progress progress-sm mb-4">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 50%"
                    aria-valuenow="50"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="text-center mt-5">
              <a
                href="https://jobvision.ir/cv/95169416-102542"
                class="btn btn-outline-secondary rounded-pill shadow-none"
                >دانلود رزومه
                <span class="ms-1"><i class="fas fa-download"></i></span
              ></a>
            </div>
          </div>
        </section>
        <!-- Resume end -->

        <!-- languages
    ============================================= -->
        <section id="languages" class="section">
          <div class="container px-lg-5">
            <!-- Heading -->
            <div class="position-relative d-flex text-center mb-5">
              <h2
                class="text-24 text-light opacity-4 text-uppercase fw-600 w-100 mb-0"
              >
                زبان های خارجی
              </h2>
              <p
                class="text-9 text-dark fw-600 position-absolute w-100 align-self-center lh-base mb-0"
              >
                انگلیسی<span
                  class="heading-separator-line border-bottom border-3 border-primary d-block mx-auto"
                ></span>
              </p>
            </div>
            <!-- My languages -->
            <div class="row gx-5">
              <div class="col-md-6">
                <p class="text-dark fw-500 text-start mb-2">
                  Listening <span class="float-end">60%</span>
                </p>
                <div class="progress progress-sm mb-4">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 60%"
                    aria-valuenow="60"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="text-dark fw-500 text-start mb-2">
                  Reading <span class="float-end">60%</span>
                </p>
                <div class="progress progress-sm mb-4">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 60%"
                    aria-valuenow="60"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="text-dark fw-500 text-start mb-2">
                  Writing <span class="float-end">30%</span>
                </p>
                <div class="progress progress-sm mb-4">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 30%"
                    aria-valuenow="30"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="col-md-6">
                <p class="text-dark fw-500 text-start mb-2">
                  Speaking <span class="float-end">10%</span>
                </p>
                <div class="progress progress-sm mb-4">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 10%"
                    aria-valuenow="10"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- language end -->

        <!-- Contact Me
    ============================================= -->
        <section id="contact" class="section bg-light">
          <div class="container px-lg-5">
            <!-- Heading -->
            <div class="position-relative d-flex text-center mb-5">
              <h2
                class="text-24 text-light opacity-4 text-uppercase fw-600 w-100 mb-0"
              >
                راه های ارتباطی
              </h2>
              <p
                class="text-9 text-dark fw-600 position-absolute w-100 align-self-center lh-base mb-0"
              >
                برای در ارتباط بودن<span
                  class="heading-separator-line border-bottom border-3 border-primary d-block mx-auto"
                ></span>
              </p>
            </div>
            <!-- Heading end-->
            <div class="row gy-5">
              <div
                class="col-md-4 col-xl-3 order-1 order-md-0 text-center text-md-start"
              >
                </p>
                <p class="text-3 mb-1">
                  <span class="text-primary text-4 me-2"
                    ><i class="fas fa-phone"></i></span
                  >+989337315709
                </p>
                <p class="text-3 mb-4">
                  <span class="text-primary text-4 me-2"
                    ><i class="fas fa-envelope"></i></span
                  >mohammad.eska34@gmail.com
                </p>
                <h2 class="mb-3 text-5 text-uppercase">Follow Me</h2>
                <ul
                  class="social-icons justify-content-center justify-content-md-start"
                >
                  <li class="social-icons-dribbble">
                    <a
                      data-bs-toggle="tooltip"
                      href="http://www.dribbble.com/harnishdesign/"
                      target="_blank"
                      title="Dribbble"
                      ><i class="fab fa-dribbble"></i
                    ></a>
                  </li>
                  <li class="social-icons-twitter">
                    <a
                      data-bs-toggle="tooltip"
                      href="https://twitter.com/harnishdesign/"
                      target="_blank"
                      title="Twitter"
                      ><i class="fab fa-twitter"></i
                    ></a>
                  </li>
                  <li class="social-icons-facebook">
                    <a
                      data-bs-toggle="tooltip"
                      href="http://www.facebook.com/harnishdesign/"
                      target="_blank"
                      title="Facebook"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li class="social-icons-google">
                    <a
                      data-bs-toggle="tooltip"
                      href="http://www.google.com/"
                      target="_blank"
                      title="Google"
                      ><i class="fab fa-google"></i
                    ></a>
                  </li>
                  <li class="social-icons-github">
                    <a
                      data-bs-toggle="tooltip"
                      href="http://www.github.com/"
                      target="_blank"
                      title="GitHub"
                      ><i class="fab fa-github"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <div class="col-md-8 col-xl-9 order-0 order-md-1">
                <h2
                  class="mb-3 text-5 text-uppercase text-center text-md-start"
                >
                  بهم پیام بده
                </h2>
                <form id="contact-form" action="index.html" method="post">
                  <div class="row g-4">
                    <div class="col-xl-6">
                      <input
                        name="name"
                        type="text"
                        class="form-control"
                        required
                        placeholder="نام"
                      />
                    </div>
                    <div class="col-xl-6">
                      <input
                        name="email"
                        type="email"
                        class="form-control"
                        required
                        placeholder="ایمیل"
                      />
                    </div>
                    <div class="col">
                      <textarea
                        name="form-message"
                        class="form-control"
                        rows="5"
                        required
                        placeholder="برام بنویس ...."
                      ></textarea>
                    </div>
                  </div>

                  <p class="text-center mt-4 mb-0">
                    <button
                      id="submit-btn"
                      class="btn btn-primary rounded-pill d-inline-flex"
                      type="submit"
                    >
                      ارسال پیام
                    </button>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </section>
        <!-- Contact Me end -->
      </div>
      <!-- Content end -->
      {% endblock %}


